Task

Now, let's use our knowledge of sets and help Mickey.

Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

Formula used:

In [8]:
from __future__ import division
def average(array):
    set1=set(array)
    avg=sum(set1)/len(set1)
    return("{0:.3f}".format(avg))

In [9]:
n = int(input())
arr = map(int, input().split())
result = average(arr)
print (result)

10
161 182 161 154 176 170 167 171 170 174
169.375

Task
Given  sets of integers,  and , print their symmetric difference in ascending order. 
The term symmetric difference indicates those values that exist in either  or  but do not exist in both.

In [20]:
def sym_deff(arr1,arr2):
    set1=set(arr1)
    set2=set(arr2)
    return sorted(set2.symmetric_difference(set1))

In [21]:
def print_set(set1):
    for i in set1:
        print(i)

In [22]:
n = int(input())
arr = map(int, input().split())
n2=int(input())
arr2=map(int, input().split())
result = sym_deff(arr,arr2)
print_set(result)

4
4 2 5 9
4
8 4 5 9
2
8

Task

Apply your knowledge of the .add() operation to help your friend Rupal.

Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of  country stamps.

Find the total number of distinct country stamps.

In [2]:
set1=set()
N=int(input())
for i in range (N):
    name=input()
    set1.add(name)
print(len(set1))

4
dd
rr
tt
tt
3

In [ ]:
pop
remove 9
discard 9
discard 8
remove 7
pop 
discard 6
remove 5
pop 
discard 5

Task
You have a non-empty set , and you have to execute  commands given in  lines.

The commands will be pop, remove and discard.

In [11]:
N=int(input())
cites_name=set(map(int,input().split()))
n=int(input())
for i in range(n):
    names=input().split()
    if(names[0]=='remove'):
        cites_name.remove(int(names[1]))
    elif(names[0]=='discard'):
        cites_name.discard(int(names[1]))
    else:
        cites_name.pop()
print(sum(cites_name))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4