#Listcomperehsion

In [ ]:
list1=[]
list2=[]
x=int(input())
y=int(input())
z=int(input())
n=int(input())
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1) :
            list1=[i,j,k]
            if(i+j+k!=n):
                list2.append(list1)
print(list2)

#Score

In [ ]:
n=int(input())
arr= map(int, input().split())
set1=set(arr)
list1=list(set1)
print(list1[-2])

In [ ]:
n=int(input())
arr= map(int, input().split())
print(sorted(list(set(arr)))[-2])

nested-list

In [ ]:
list_score=[]
second_low=[]
n=int(input())
for _ in range(n):
    name = input()
    score = float(input())
    list_score.append([name,score])
second_lowest_score=sorted(list(set([score for name,score in list_score])))
for i in range(n):
    if list_score[i][1] == second_lowest_score[1]:
        second_low.append(list_score[i][1])
print('\n'.join(sorted([name for name, score in list_score if score in second_low])))

student_mean_value

In [ ]:
n = int(input())
student_marks = {}
sum_value=0
list1=[]
for _ in range(n):
    line = input().split()
    name, scores = line[0], line[1:]
    scores = map(float, scores)
    student_marks[name] = scores
query_name = input()
for key, values in student_marks.items():
    if(key==query_name):
        for i in values:
            list1.append(i)
            sum_value=sum_value+i

print(format(sum_value/len(list1), ".2f"))

Tuple problem

In [ ]:

n = int(input())
integer_list = map(int, input().split())
tuple_values=tuple(integer_list)
print(hash(tuple_values))

list problem